player-connection-mode=Connect
player-connection-guid=1852506592
player-connection-debug=1
player-connection-project-name=UnityEnvironment
player-connection-wait-timeout=-1
player-connection-ip=10.16.3.63
player-connection-ip=192.168.1.127
profiler-enable=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
build-guid=88c6ca49e36c42f9b104ea356df6c1d7
